img {
  width: 90%;
  height: 100%;
 }

 label{
  font-weight: bold;
  margin-top: 20px;
  color: rgba( 33, 37, 41, .55);
 }

 h1{
  color: RGBA(33, 37, 41, var(--bs-bg-opacit, 0.8)) !important;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
 }

 button{
  width:calc(100% + 20px);
 }

